
body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
}
/* h1, h2, h3, h4{
    font-family:quincy-cf, serif;
    font-style: italic;
} */
h1{
    color: #66BFBF;
    /* width: 405px; */
    margin: 0;
    /* margin-left: 550px; */
    font-family: 'Sacramento', cursive;
    font-size: 100px;
   
    /* padding-top: 120px; */
    /* font-weight: 200; */
    /* font-weight: bold; */
    /* text-align: left; */
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 80px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style: dotted;
    border-bottom-style: none;
    border-width: 8px;
    border-color: #EAF6F6;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999E;
}

/* **************CLASS SELECTORS ********** */
.top-container{
    padding-top: 100px;
    background-color: #E4F9F5;
  
}
.intro{
    /* margin-top: 100px; */
    display: inline-block;
    margin: 100px auto o auto;
    position: relative;
    text-align: left;
    width: 32%;
    line-height: 127px;
}
/* .pre-iam{
    text-align: left;
} */
.i-am{
    color: #66BFBF;
    font-family: 'Sacramento', cursive; 
    font-size: 75px;
    font-weight: bold;
   
    display: inline-block;
    text-align: left;
    margin: 0;
    /* margin-left: 565px; */
}
.a-programmer{
    color: #66BFBF;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bolder;
    /* position: relative; */
   /* bottom: 38px; */
    text-align: left;
    margin: 0;
    float: right;
    line-height: 27px;
    /* margin-left: 800px; */
}
.top-cloud{
    position: absolute;
    /* margin-top: 48px; */
    left: 1030px;
    top: 49px;
}
.mountain-img{
    /* position: absolute; */
    /* position: relative;
    bottom: 100px; */
}
.bottom-cloud{
    position: absolute;
    left: 235px;
}

 .middle-container{
  margin-top: 100px; 
}
/*
.skills{
    /* text-align: center; 
} */
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.profile p{
   width: 33%;
   margin: 0 auto;
}
.profile-img{
    max-height: 180px;
    max-width: 180px;
}
.skills-img{
    max-height: 120px;
    max-width: 120px;
    border-radius:50%;
    float: left;
   margin-right: 60px;
   margin-bottom: 1px;
}

.bottom-container{
   
    background-color: #66BFBF;
    /* border: 10px solid 
    margin-left: 500px; */
    margin-top: 100px;
    padding: 30px 0;
}
.bottom-container a{
    margin: 50px 15px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.bottom-container p{
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}
.contact-me p{
    margin-bottom: 50px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
 
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }